.header {
  display: flex;
  justify-content: center;
  background: #31639c;
  color: white;
  padding-top: 1rem;
  width: 100%;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  line-height: 4rem;
  height: 4rem;
  bottom: 0;
  width: 100%;
  padding-top: 2;
  background: #31639c;
  color: white;
  text-align: center;
}

.displayCard {
  padding-left: 5rem;
  display: inline-block;
}
